/* PasswordStrength.css */

.password-checker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .password-input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .strength-indicator {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .strength-indicator.very-weak {
    color: red;
  }
  
  .strength-indicator.weak {
    color: orange;
  }
  
  .strength-indicator.moderate {
    color: yellowgreen;
  }
  
  .strength-indicator.strong {
    color: green;
  }
  
  .strength-indicator.very-strong {
    color: darkgreen;
  }
  